body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.boardList{
  /* justify-content: space-around; */
  flex-wrap: wrap;
}
.is-mobile{
  overflow-x: auto;
  scrollbar-width: none;
}
.eachList{
  flex-basis: 17rem;
  background-color: lightgrey;
  
}
.eachListHeading{
margin-left: 0.5rem;
font-weight: bold;
font-size: 0.9rem;
}
.allList{
  align-items:flex-start;
}
.eachCard{
  margin:0.5rem;
  background-color: white;
  border-radius: 0.3rem;
}
.cardHover{
  background: lemonchiffon;
}

.modal-background{
  background: lavender;
  opacity: 0.5;
  
}


.Test{
  height:100%;
  width:100%;
}